#app { height: 100% }
html,
body {
  background: #24292E;
  position: relative;
  height: 100%;
}

body {
  background: #24292E;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.body {
  background: #24292E;
}

.swiper {
  background: #24292E;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  
  overflow: hidden;
}
